.page-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

* {
  font-family: "Segoe UI", Arial, sans-serif;
}

.section-card,
.form-card,
.event-card {
  background: #ffffff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.events-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-section {
  margin-bottom: 15px;
}

.event-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.no-info {
  color: #888;
  font-style: italic;
}

/* Form styles */
.form-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
}

.form-input {
  width: 93%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-submit {
  background-color: #1e90ff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-submit:hover {
  background-color: #187bcd;
}
