<%= form_with url: "/", method: :get, local: true do |f| %>
  <div>
    <%= f.label :search_id, "ID del usuario" %>
    <%= f.number_field :search_id %>
  </div>
  <div>
    <%= f.submit "Buscar usuario" %>
  </div>
<% end %>
